spring:
  application:
    name: cravekart

  datasource:
    url: jdbc:postgresql://localhost:5432/cravekart
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true

  cache:
    type: redis
  data:
    redis:
      host: redis-16039.crce217.ap-south-1-1.ec2.cloud.redislabs.com
      port: 16039
      password: 72XTMQWwnOkM7A0EXcp1XSN0k6aBcQU4

  mail:
    host: smtp.gmail.com
    port: 587
    username: cyrodev17@gmail.com
    password: bvzg umqy bxhx jozy

    protocol: smtp
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enabled: true
            required: true

    default-encoding: UTF-8



logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: OFF

server:
  port: 9091
  servlet:
    context-path: /



jwt:
  secretKey: Q1RrR3ZsU0Z3M2pQbFh6YlJZc0R5a2lKZ2xFNVZkR0pWc2p1dA==