
.food-swiper {
  width: 70vw;
  height: 290px;
  padding: 10px 0;
}

.category-section{
  height: 300px;
}
.category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.circle-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;          
  background: #f5f5f5;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease;
}


.circle-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;           
  object-position: center;     
}

/* Hover animation */
.category-item:hover .circle-image {
  transform: scale(1.08);
}

.category-item p {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
}