@tailwind base;
@tailwind components;
@tailwind utilities;

.mynerve-regular {
    font-family: "Mynerve", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
html {
  scroll-behavior: smooth;
}