/* .navbar {
    position: sticky;  
    top: 0;       
    left: 0;        
    width: 100%;     
    padding: 15px;
    z-index: 1000;    
  } */

  .logo{
    font-family: 'Mynerve', cursive ;
    font-weight: bolder;
    font-size: 30px;
    
  .navbar {
    transition: all 0.2s ease;
  }
    
    
/* font-family: 'Playball', cursive; */
/* font-family: 'Poppins', sans-serif; */
}